<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page}}</title>
    
    <link href="/stylesheet/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="head">
      <image src="/img/head.jpg" alt="Head Image" />
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/0">Users</a></li>
        <li><a href="/top10/">Top 10</a></li>
        {{#if user}}
          <li><a href="/user/me">{{user.displayName}}</a>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/auth/steam">Login</a></li>
        {{/if}}
      </ul>
    </div>

    {{{body}}}

    <div class="footer">
      <p>Copyright &copy 2017 | <a href="https://github.com/LuciusDev/MGEStats">Github</a> | <a href="http://steamcommunity.com/id/Thermo-Nuclear/">Developer</a></p>
    </div>
  </div>
</body>
</html>