@import url('https://fonts.googleapis.com/css?family=Roboto');

p, td li {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000;
}

.avatar {
  border: 1px solid #000000;
  border-radius: 5%;
}

.container {
  background-color: rgb(129, 226, 255);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  width: 976px;
}
.navbar ul {
  background-color: rgb(226, 110, 110);
  padding: 5px 0px;
  margin: 0px;
  border-radius: 5px;
}
.navbar ul li {
  display: inline;
  list-style-type: none;
  font-size: 30px;
}
.navbar ul li a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}
.navbar ul li a:hover {
  background-color: rgb(230, 47, 47);
}

.footer {
  background-color: rgb(255, 131, 29);
  font-size: 20px;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 5px;
}

.item-row {
  border: 2px solid #000;
  margin-top: 5px;
  padding: 0px;
}
.item-row .info p {
  margin: 0;
  padding: 0px;
}

.user .info {
  margin-top: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}
.user .matches {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 20px;
  color: #333; 
}
